.create-account-form {
  /* text-align: center; */
  margin: 0 0 0 0;
  border: 2px solid lightgray;
  width: 80vw;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  grid-template-areas: "title" "create-topic" "article" "button"
}

.topic-selector{
/* display: grid; */
grid-area: title;
}
.title-input{
/* display: grid; */
grid-area: title;
}

.post-topic-form{
  grid-area: create-topic;
}
.article-body{
  grid-area: article;
  /* width: 60vw;
  height: 60vh; */
}
.post-button{
  grid-area: button;
}