.title-topic-container {
  margin-left: 1vw;
  width: 95vw;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "new-topic";
}

.article-body {
  grid-area: text;
  width: 95vw;
  margin-left: 1vw;
  height: 58vh;
  margin-top: 1vh;
}

.new-topic {
  grid-area: new-topic;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.3fr 2fr;
  grid-template-areas: "name description";
}
.topic-name{
  grid-area: name;
   height: 4vh;
   width: 37vw
}
.topic-description{
  grid-area: description;
   height: 4vh;
}

.title {
  margin: 1vh 0 1vh 0;
  grid-area: title;
  height: 4vh;
}
.title > input {
  height: 4vh;
  grid-area: title;
}

.post-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header select";
}

.topic-selector {
  grid-area: select;
  width: 40vw;
}

.header {
  grid-area: header;
  margin-bottom: 0;
}

.create-article-form {
  text-align: left;
  width: 98vw;
  margin-left: 1vw;
  margin-top: 1vh;
}

.post-button {
  grid-area: button;
  margin-top: 1vh;
  width: 95vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

@media only screen and (min-width: 770px) {
  .post-button{
    width: 40vw;
  }
  .create-article-form{
    width: 55vw;
    text-align: center;
  }

  .post-article-wrapper{
    display: inline-block;
  }
  .topic-name{
    width: 20vw;
    margin-right: 1vw;

  }
  .title-topic-container {
    width: 50vw;
  }
  .article-body{
    width: 50vw;
    /* margin-left: 0; */
  }
}