.articles-header-container {
  width: 98vw;
  margin-top: 1vh;
  margin-left: 1vw;
}
.articles-filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "filter sort order" ".. button button";
}
.topic-selector {
  grid-area: filter;
  height: 3vh;
}

#sort-by {
  grid-area: sort;
  width: 22vw;

}
#order {
  grid-area: order;
  width: 22vw;

}
#sort-button {
grid-area: button;
width: 45vw;
margin-top: 1vh;
margin-bottom: 1vh;
}

.articles-header {
  font-size: 1.5rem;
  margin: 0;
  display: grid;
  align-content: center;
  justify-content: left;
}

.articles-topic-subheader {
  font-size: 1rem;
  align-content: center;
  margin-left: 6vw;
  margin-bottom: 0;
  display: grid;
  justify-content: left;
}

.articles-container {
  margin-left: 1vw;
  margin-top: 1vh;
  width: 98vw;
}
.article-list-card {
  margin-bottom: 0.5vh;
}

.short-date {
  overflow: hidden;
  text-align: center;
  font-size: 0.8rem;
}
.short-date:before,
.short-date:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.short-date:before {
  right: 0.5em;
  margin-left: -20%;
}
.short-date:after {
  left: 0.5em;
  margin-right: -60%;
}

.author-onstub {
  font-size: 0.8rem;
  display: flexbox;
  text-align: right;
}
.topic-title-onstub {
  margin-bottom: 1.5vh;
  font-style: italic;
}
.comment-vote-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "vote .. comment" "upvote more downvote";
}

.comment-count-list {
  grid-area: comment;
  display: grid;
  width: 30vw;
  margin-bottom: 2vh;
}

.vote-count-list {
  grid-area: vote;
  display: grid;
  width: 30vw;
  margin-bottom: 2vh;
}
.upvote-button-list {
  display: grid;
  grid-area: upvote;
}
.downvote-button-list {
  display: grid;
  grid-area: downvote;
}
.more-button {
  display: grid;
  grid-area: more;
}

.btn:focus {
  outline: none;
}
