.article-display {
  width: 97.5vw;
  margin-left: 1vw;
  margin-top: 3vh;
}

.article-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  line-height: 24px;
  margin: 0 0 24px;
  /* text-align: justify; */
  text-justify: inter-word;
}

.vote-container {
  display: grid;
  width: 97.5vw;
  margin-left: 1vw;
  margin-top: 0.5vh;
  border: solid lightgray 1px;
  border-radius: 5%;
  grid-template-columns: 1fr 1.4fr 1fr;
  grid-template-rows: 0.6fr 1fr;
  grid-template-areas: "vote .. comment" "upvote del downvote";
}
.vote-container-comment {
  width: 90vw;
  margin-left: 1vw;
  display: grid;
  margin-top: 0.5vh;
  border-radius: 5%;
  margin-right: 20vw;
  grid-template-columns: 1fr 1.4fr 1fr;
  grid-template-rows: 0.6fr 1fr;
  grid-template-areas: ".. vote .." "upvote delete downvote";
}
#comment-list {
  width: 97.5;
  padding: 1vh 1vw 1vh 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.delete-comment {
  grid-area: delete;
  width: 20vw;
  margin: auto auto auto auto;
}

.delete-button {
  grid-area: del;
  width: 35vw;
  margin: 1vh auto 1vh auto;
}

.comment-count-full {
  grid-area: comment;
  margin-bottom: 0;
}

.vote-count-full {
  grid-area: vote;
  margin-bottom: 0;
}

.upvote-button-full {
  width: 29vw;
  margin: auto auto auto auto;
  grid-area: upvote;
}
.downvote-button-full {
  display: grid;
  width: 29vw;
  margin: auto auto auto auto;
  grid-area: downvote;
}

.comments-container {
  margin-top: 1vh;
  width: 98vw;
  margin-left: 1vw;
}
.new-comment-form {
  border: 1px solid lightgray;
  border-radius: 2.5%;
  margin-bottom: 1vh;
}
.new-comment-text {
  margin-top: 1vh;
  border: double lightblue 3px;
  border-radius: 2%;
  width: 80vw;
}
.new-comment-button {
  margin-bottom: 1vh;
}

.topic-title {
  margin-bottom: 1.5vh;
  text-align: right;
  font-size: 24px;
  font-style: italic;
}
.author {
  font-size: 0.8rem;
  display: flexbox;
  text-align: right;
}
.full-date {
  overflow: hidden;
  text-align: center;
  font-size: 0.7rem;
}

.full-date:before,
.full-date:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 0.8px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.full-date:before {
  right: 0.5em;
  margin-left: -20%;
}
.full-date:after {
  left: 0.5em;
  margin-right: -60%;
}
