/* .dash-login {
  text-align: left;
  margin-left: 50vw;
  padding: 0em 0.1em 0.5em 6em;
  border: 1px dotted black;
  max-width: 50vw;
  max-height: 10vh;
  font-size: 90;
} */

.login-badge {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr 0.1fr 1.5fr;
  grid-template-areas: "login-text dropdown . ." ". link . ." ". . . .";
  height: 10vh;
}

#login-text {
  grid-area: login-text;
  font-size: 2.5vw;
  margin-left: 1vw;
  margin-right: 2vw;
  /* margin-top: 0px; */

}
#dash-dropdown {
  grid-area: dropdown;
  width: 35vw;
  height: 3.5vh;
  font-size: 2vw;
}

.create-account-link {
  grid-area: link;
  /* margin-left: 10vw; */
  font-size: 1rem;
}

.dash-signed-in {
  margin-top: 5px;
  text-align: left;
  margin-left: 70vw;
  border: 2px solid green;
  width: fit-content;
  height: 10vw;

  align-content: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.4fr 0.1fr;
  grid-template-rows: 0.5fr 0.3fr 2.2fr;
  grid-template-areas: "avatar message button ." ". . . ." ". . . .";
}


.user-avatar {
  max-width: 100%;
  max-height: 8vh;
  border-radius: 50%;
  grid-area: avatar;
}

.signed-in-message {
  font-size: 1.5vw;
  font-size-adjust: inherit;
  grid-area: message;
  flex-wrap: wrap;
}

.logout-button {
  width: 20vw;
  height: 3vh;
  grid-area: button;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  #dash-dropdown {
    width: 55vw;
    height: 3vh;
    /* padding-bottom: 1vh; */
    padding-top: 0.2rem;
    font-size: 2.5vw;
    font-weight: 700;
    /* margin-left: 20vw; */
  }
  .login-badge {
    margin-top: 0.5rem;
    margin-left: 22vw;
    width: 80vw;
    height: 7.5vh;
    /* margin-left: 23vw; */
  }
  #login-text {
    padding-top: 0.6rem;
   
  }
  .create-account-link {
    font-size: 0.8rem;
    padding-bottom: 10px;
  
  }
  .dash-signed-in{
    width: 80vw;
    margin-left: 22vw;
    height: 7.5vh;
    margin-top: 0.5rem;
  }
  .user-avatar{
    padding-top: 1vh;
    height: 5vh;
  }
  .signed-in-message {
    margin-top: 2vh;
    font-size: 0.6rem
  }
  .logout-button {
  width: 25vw;
  height: 4vh;
  margin: auto;
  margin-left: 1vh;

}
}
