.App {
  text-align: center;
}

.comment-list {
  list-style: none;
}

.article-display {
  border: 2px solid black;
  margin: 10px 40px 10px 40px;
}

.article-list-item {
  border: 2px solid black;
  margin: 10px 40px 10px 40px;
  list-style: none;
}

#article-page-voter {
  border: 2px solid black;
  margin: 2px 40px 2px 40px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1 {
  all: unset;
}

.site-header {
  text-align: left;
  width: 600vw;
  padding-top: 1em;
  padding-left: 14%;
  margin-bottom: 0.2em;
  /* margin-top: 1em;
  margin-left: 14%; */
  color: whitesmoke;
  background-color: #8b8b8b;
  font-size: 2em;
  display: inline-block;
  border-bottom: 5px solid teal;
}

