.App {
  text-align: center;
  max-width: 96%;
}

.comment-list {
  list-style: none;
}

.article-display {
  border: 2px solid black;
  margin: 10px 40px 10px 40px;
}

.article-list-item {
  border: 2px solid black;
  margin: 10px 40px 10px 40px;
  list-style: none;
}

#article-page-voter {
  border: 2px solid black;
  margin: 2px 40px 2px 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  all: unset;
}



.site-header {
  text-align: auto;
  width: 79vw;
  /* margin-right: 2em; */
  /* margin-top: 1em;
  margin-left: 14%; */
  /* color: whitesmoke;
  background-color: #8b8b8b;
  font-size: 2em;
  */
  /* display: inline-block;  */
  border-bottom: 5px solid black;
  color: #f2f2f2;
  background: #ff4a4a;
  font-size: 40px;
  line-height: 74px;
  font-weight: 700;
  /* margin: 0px 0px 0px; */
  padding-left: 21%;
  padding-top: 5px;
  /* float: left; */
  display: block;
  /* padding: 1px; */
  /* margin: 0 1px 10px; */
  font-family: "Libre Baskerville", serif;

}
