.App {
  text-align: center;
  max-height: 100%;
}

.comment-list {
  list-style: none;
}

.article-display {
  border: 2px solid black;
  margin: 10px 40px 10px 40px;
}


button {
  margin: 2px 2px auto 2px;
}

select {
  margin: 0 4px 0 2px;
}

#article-page-voter {
  border: 2px solid black;
  margin: 2px 40px 2px 40px;
}

.header-container {
  width: 100%;
  height: 8vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1.6fr 0.3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header login-icon ";
}

.site-header {
  grid-area: header;
  color: white;
  margin-top: 2vh;
  margin-left: 4vw;
}
.login-icon {
  grid-area: login-icon;
  height: 6vh;
  width: auto;
  border: 2px solid red;
  border-radius: 50%;
  background-color: white;
  margin-top: 1vh;
  margin-left: 1vw;
}
.user-avatar {
  grid-area: login-icon;
  height: 6vh;
  width: auto;
  border: 2px solid greenyellow;
  border-radius: 50%;
  background-color: white;
  margin-top: 1vh;
  margin-left: 1vw;
}
@media only screen and (max-width: 500px) {
  .site-header {
    font-size: 6vw;
    padding-left: 6vw;
    height: 17vw;
  }
}

